/* Variable control Style Sheet */

:root {
    --bg1-color: #ffffff;
    --text1-color: #333333;

    --bg2-color: #333;
    --text2-color: #fff;

    --offsetblck-color: #414549;

    --link-color: #5ea5f1;

    --border-color: #e1e4e8;

    --button-color: #ebe1e1;
    --buttonhover-color: #fffffff3;

    --boxshadow-color: rgba(0, 0, 0, 0.3);
}
